.profile__avatar {
  max-width: 120px;
  max-height: 120px;
  border-radius: 360%;
  margin-right: 30px;
  object-fit: cover;
}
@media screen and (max-width: 568px) {
  .profile__avatar {
    margin: 0 auto;
  }
}